header {
  max-width:980px;
  margin:4rem auto 2rem;
  text-align:center;

  h1 {
    font-size:3rem;
    margin:0;

    @media (min-width:$screen-md) {
      font-size:4rem;
    }

    @media (min-width:$screen-lg) {
      font-size:6rem;
    }
  }
}