.posts {
  display: flex;
  flex-wrap: wrap;
  
  card {
    width:100%;
    padding:1rem;

    p {
      text-align:center;
    }

    @media (min-width:$screen-md) {
      width:50%;

      &.fullwidth {
        width:100%;
      }
    }
  }
}

img {
  max-width:100%;

  &.image--small {
    max-width:420px;
    margin:0 auto;
    display:block;
    text-align:center;
  }

  &.image--medium {
    max-width:640px;
    margin:0 auto;
    display:block;
    text-align:center;
  }
}
